<!DOCTYPE html>
<html lang="cs">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>EasyMatematika</title>
</head>
<body>
    <nav>
        <a href="/">EasyMatematika 📐</a>
        <div>
            {% if current_user.is_authenticated %}
                <span>{{ current_user.username }}</span> | <a href="/logout">Odhlásit</a>
            {% else %}
                <a href="/login">Přihlášení</a> | <a href="/register">Registrace</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <h1>Hlavní nabídka</h1>
        <div class="card">
            <h3>9. Třída</h3>
            <a href="/main/9-trida/zlomky">Zlomky</a> | <a href="/main/9-trida/procenta">Procenta</a>
        </div>
    </div>
</body>
</html>
