<!DOCTYPE html>
<html lang="cs">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Registrace</title>
</head>
<body>
    <div class="container" style="max-width: 400px;">
        <div class="card">
            <h2>Registrace</h2>
            <form method="POST">
                <input type="text" name="username" placeholder="Uživatelské jméno" required>
                <input type="password" name="password" placeholder="Heslo" required>
                <select name="role">
                    <option value="zak">Žák</option>
                    <option value="ucitel">Učitel / Admin</option>
                </select>
                <button type="submit">Zaregistrovat se</button>
            </form>
        </div>
    </div>
</body>
</html>
